* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.total1 {
  
    border: 1px solid;
  
    display: flex;
    height: 715px;
    width: 100%;
    justify-content: space-around;
    color:yellow;
    background-image: url("./img/backgroundtet3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

.story1 {
    margin-top: 20px;
    height: 200px;
    width: 300px;

}

.story1 h1 {
    text-align: center;
}

.story1 button {
    margin-top: 50px;
    color: yellow;
    background-color: transparent;
    border: solid 2px;
    width: 100px;
    transition: 2s;
}

.story1 button:hover {
    background-color:aliceblue;
    color: black ;
    width: 200px;
    transition: 3s;
    border: solid 2px;
    cursor: pointer;
    border-radius: 10px;
}

.the1v3 img {
    height: 160px;
    width: 130px;
}

.the1v1 {
    display: flex;
    justify-content: space-around;
}

.story2 {
    height: 200px;
    width: 300px;
    margin-top: 20px;
}

.story2 h1 {
    text-align: center;
}

.story2 button {
    color:yellow;
    background-color: transparent;
    border: solid 2px;
    width: 100px;
    transition: 2s;
    margin-top: 10px;
}

.story2 button:hover {
    background-color:white;
    color: black ;
    width: 200px;
    transition: 3s;
    border: solid 2px;
    cursor: pointer;
    border-radius: 10px;
}

.the2v3 img {
    height: 160px;
    width: 150px;
}

.the2v1 {
    display: flex;
    justify-content: space-around;
}

.story3 {
    height: 200px;
    width: 300px;
    margin-top: 20px;
}

.story3 h1 {
    text-align: center;
}

.story3 button {
    margin-top: 45px;
    color:yellow;
    background-color: transparent;
    border: solid 2px;
    width: 100px;
    transition: 2s;
}

.story3 button:hover {
    background-color:white;
    color: black ;
    width: 200px;
    transition: 3s;
    border: solid 2px;
    cursor: pointer;
    border-radius: 10px;
}

.the3v3 img {
    height: 160px;
    width: 150px;
}

.the3v1 {
    display: flex;
    justify-content: space-around;
}

.story4 {
    height: 200px;
    width: 300px;
    margin-top: 20px;
}

.story4 h1 {
    text-align: center;
}

.story4 button {
    margin-top: 45px;
    color: yellow;
    background-color: transparent;
    border: solid 2px;
    width: 100px;
    transition: 2s;
}

.story4 button:hover {
    background-color:white;
    color: black ;
    width: 200px;
    transition: 3s;
    border: solid 2px;
    cursor: pointer;
    border-radius: 10px;
}

.the4v3 img {
    height: 160px;
    width: 150px;

}

.the4v1 {
    display: flex;
    justify-content: space-around;
}
