.total{
    width: 720px;
    height: 100%;
    display: flex;
    background-color: red;
    color:white;
  }
  .k27{
     width: 600px;
     height: 100%;
     margin-left:350px ;
  
  }
  .k2007 img{
      height: 400px;
      width: 600px;}
.k2008 img {
    height: 400px;
      width: 250px;
}