.total{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: red;
    color:white;
  }
  .k27{
     width: 600px;
     height: 100%;
     margin-left:350px ;
  
  }
  .k2007 img{
      height: 500px;
      width: 450px;}